<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Little_Registry_Cleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Little_Registry_Cleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Little_Registry_Cleaner.Properties.Settings>
            <setting name="bOptionsLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strBackupFile" serializeAs="String">
                <value />
            </setting>
            <setting name="bOptionsRescan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOptionsDelBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOptionsRestore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOptionsAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOptionsRemMedia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dtLastUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bOptionsShowLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nProgramStarts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bUpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOptionsAutoRepair" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bOptionsAutoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nOptionsTaskPerform" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bOptionsStats" serializeAs="String">
                <value>True</value>
            </setting>
        </Little_Registry_Cleaner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Little_Registry_Cleaner.Properties.Settings>
            <setting name="strUpdateURL" serializeAs="String">
                <value>http://updates.little-apps.org/little-registry-cleaner.xml</value>
            </setting>
            <setting name="bPortableEdition" serializeAs="String">
                <value>False</value>
            </setting>
        </Little_Registry_Cleaner.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
